/* colors */
$light-blue : #9ACBF6;
$light-grey : #c6daf7;
$light-violet: #8083e8;
$light-green: #8AB49F;
$white : #ffffff;
$black: #000000;
$violet: #6332ff3d;
$dark-blue: #1b2a3a;
$shadow-grey: #21252938;
$shadow-violet: #ccbcff36;


$theme-colors: (
    'light-blue': $light-blue,
    'light-grey': $light-grey,
    'light-violet': $light-violet,
    'light-green': $light-green,
    'white': $white,
    'black': $black,
    'violet': $violet,
    'dark-blue': $dark-blue,
    'shadow-grey': $shadow-grey,
    'shadow-violet': $shadow-violet
);

/* breakpoints */
$md: 768px;
