@import "variables";
@import './node_modules/bootstrap/scss/bootstrap.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;  
    font-family: 'montserrat', serif;
}
a {
    text-decoration: none;
    color: $dark-blue;
    cursor: pointer;
}
//header 
header{
    position: sticky;
    top: 0;
    z-index: 3;
    .circle {
        height: 1rem;
        width: 1rem;
        margin: 0 20px;
    }
    .header-title {
        font-size: 1rem;
        font-family: "montserrat";
        font-weight: 400;
        font-style: normal;    
    }
    .navbar {
        padding: 20px 5px;
        box-shadow: $shadow-grey 0px 1px 10px;
        margin-top: -70px;
        &.landing-page {
            margin-top: -70px;
            background-color: #7ec5ff;
        }
        .navbar-toggler-icon {
            z-index: 1;   
        } 
        .navbar-toggler{
            .icon-toggle {display:none}
            
            &.collapsed {
                .icon-toggle {display:none !important}
            }
        }
        .navbar-toggler[aria-expanded="true"]{
            overflow: hidden;
            .icon-toggle {
                display:block;
                position: fixed;
                z-index: 1;
                flex-basis: 100%;
                flex-grow: 1;
                left: 0.7rem;
                top: 0.7rem;
            }
         }
          .navbar-collapse.collapsing,
          .navbar-collapse.show {
                position:  fixed;
                top: 0;  
                left: 0; 
                align-items: stretch;         
                background-color: $light-grey;
                height: 100%;
                width: 100%;

                .navbar-nav {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .dropdown-toggle{
                        display: none;
                    }
                }
            }
        .dropdown-menu {
            &.show {
            background-color: $light-blue;
            } 
        }
        
    }
    .nav-link{
        font-size: 18px;
        text-transform: uppercase;
        &:hover {
            color: $light-blue;
            font-weight: 600;
        }  
    }
    .landing-page {
        .nav-link {
            &:hover {
                color: $dark-blue;
                font-weight: 600;
            }  
        }
    }
}
//landing page
.home-page {
    position: relative;
    margin-top: -40px;
    .circle {
        height: 4.28rem;
        width: 4.28rem;
    }    
    .btn, .round-img { box-shadow: 2px 2px 5px $shadow-grey; }
    .subtitle-text {
        border-top: 4px solid $light-grey;
        display: flex;
        position: absolute;
        z-index: 1;
        width: 20%;
        justify-content: center;     
    }
        .img-banner{
            height: 750px;
            object-fit: cover;
            opacity: 0.9;
    }
    .section-break {
        width: 3.6rem;
        height: 0.2rem;
        background-color: $light-grey;
    }
    .info-description {
        max-width: 820px;
        &-top{
            padding: 1rem 0;
            .hard-skills-container{
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
            }
        }
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }  
    }
    .card {
        max-width: 400px;
        position: relative;
        border: initial;
        align-items: center;
        font-size: 16px;
        .card-img, .card-img-top, .card-img-bottom, .backofcard-item{
            border-radius: 0.6rem;  
            border: 1px solid $violet;
            box-shadow: $shadow-violet 0.1rem 0.1rem 4rem;
            font-weight: bold;
            color: $white;
        }
        .frontofcard, .backofcard {
            width: 100%;
            height: 100%;
        }
        .frontofcard { z-index: 3;}
        .backofcard {
            z-index: 2;
            height: 100%;
            position: absolute;
        }
        .card-text{
            font-size: 18px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            text-transform: uppercase;
            flex-wrap: wrap;
            font-weight: 100;

            p{
                padding-right: 5px;
                margin-bottom: 0;
                
            }
        }
        .card-see-more {
            text-transform: uppercase;
            font-weight: 400;
            border-radius: 30px;
            background: white;
            padding: 10px 20px;
        }
    }
    .card:hover{ transform: rotateY(180deg); } 
     .frontofcard { backface-visibility: hidden; }
        .card { transform-style: preserve-3d; }
        .card { transition: all 0.8s ease-in; }
        .backofcard { transform: rotateY(180deg);}
        .backofcard-item{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            padding: 20px;
        }
    .card-body{
        padding: 1.4rem 0;
        text-align: center;
        width: 100%;
        .card-title {
            font-size: 1.1rem;
            font-weight: bolder;
            flex: 1 0 auto;
            word-wrap: break-word;
        }
    }
    .btn {
        &:hover {
            animation: animate__pulse;
        }
    }
}
//contacts page
.contacts-page{
    background-image: url(../img/img-contacts/telephone-booths.png);
    background-size: cover;
    .contacts-section {
        margin: 70px 0 104px;
        padding: 30px 20px;
    }
    .contacts-social{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .contacts-wrapper {
    background-color: #f5fffae6;
    border-radius: 50px;
    box-shadow: 3px 2px 14px $shadow-grey;
    max-width: 1000px;
    margin: 0 auto;
        p {
            padding-left: 10px;
            margin: 0;
        }
        a {
            color: $dark-blue;
            text-decoration: none;
            padding: 20px 0;
            margin: 0;
            cursor: pointer;
        }
        .btn {
            background-color: $light-grey;
            color: $dark-blue;
        }
    } 
}
//project page
.project-page{
    margin-top: 70px;
    .project-item{
        min-height: 500px;
        text-align: center;
        .row { margin: 0; }
        .project-img{
            max-width: 200px;
            border-radius: 20px;
            border: 1px solid $shadow-grey;
            box-shadow: $shadow-grey 0.1rem 0.1rem 4rem;
            &.thumbnail{ max-width: 100%;}
            &.screenshots{
                max-width: 75%;
                margin-bottom: 5px;
            }
        }
        .project-body{ font-size: 16px; }
    }
}
//about page
.about-page {
    padding: 110px 40px;
    &-title{ font-size: 36px;}
    &-subtitle{
        font-size: 18px;
        padding-top: 20px;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        &::after{
            content: "";
            background: $light-blue; 
            height: 0.4em;
            width: 109%;
            display: block;
            margin-top: -0.6rem;
            margin-left: -4%;
            position: absolute;
            z-index: -1;
        }
    }
    &-skills{
        li { display: flex; }
    }
    .download-button{ text-align: right; }
    li { padding: 5px 0;
        .dot {
            width: 20px;
            height: 20px;
            margin: 0 2.5px;
            background: $light-grey;
            border-radius: 50%;
            &.blank { background-color: $shadow-grey;}
        }
    } 
    p {
        margin-bottom: 0;
        padding-right: 10px;
    }
}   
footer{
    max-height: 200px;
    a {
        font-size: 0.8rem;
         &:hover { color: $dark-blue; 
        text-decoration: underline;}
    }
    .go-up {
        bottom:  1.4rem;
        right:  0.4rem;
        opacity: 0.5;
        z-index: 3;
    }
}
@media (min-width: $md) {
    header {
        position:relative;
        .header-title {
            font-size: 1rem !important;
            font-weight: 400;
        }
       .navbar{
        padding: 30px 15px;
        background-color: transparent;
        box-shadow:  $shadow-grey 0px 1px 10px;
        margin-top: 0;
        .nav-link { font-size: 16px; }
        &.landing-page {
            margin-top: 0;
        }
       } 
    }  
    .card-body { text-align: left; }

    .img-banner{
        height: 750px;
        object-fit: cover;
        zoom: 85%;
}
    .contacts-page {
        .contacts-section {
            margin: 70px 0;
            padding: 20px 50px;
        }
    }
    .project-page{
        margin-top: 0;
        .project-item{
            align-items: center;
            .project-img{
                max-width: 600px;
                border-radius: 20px;
                &.thumbnail{ max-width: 80%;}
                &.screenshots{
                    max-width: 20%;
                    margin-top: 25px;
                    transition: transform .5s;}
                &.screenshots:hover{ transform: scale(4.5);}
                &.screenshots:first-child:hover{ transform-origin: 50px; }
            }
        }
    }
    //about page
    .about-page {
        padding: 70px 80px;
        &-title{ font-size: 36px;}
        &-subtitle{
            font-size: 18px;
            padding-top: 20px;
            font-weight: 600;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
            &::after{
                content: "";
                height: 0.4em;
                width: 100%;
                display: block;
                margin-top: -0.6rem;
                margin-left: -3%;
                position: absolute;
                z-index: -1;
            }
        }
    } 
}
@media (max-width: 374px) {
    .circle { margin: 0 5px 0 0 !important; }
    .navbar{ padding: 12px 5px 30px !important; }
    .navbar-toggler {
        padding: 5px 0 !important;
        margin: -3px !important;}
    .about-page { padding: 70px 30px !important;
        ul { padding-left: 0 !important; }
        .second-col { padding-left: 2rem !important; }
    }

}